body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/*This code is for the tab on the header, including logo and links*/
header {
  display: flex;
  flex-direction: column;
  padding: 0px 80px;
  background-color: #1f2937;
}

.header-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

ul {
  display: flex;
  gap: 20px;
  margin:0;
  padding: 0;
  list-style-type: none;
}

li {
  font-size: 18px;
  color: #e5e7eb;
}

/*This code is for the text content on the header*/
.header-content {
  display: flex;
  margin: 100px 0px;
}

.left-content {
  margin-right: 50px;
}

.main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

p {
  margin: 0;
}

.white-text,
.button-one {
  font-size: 18px;
  color: #e5e7eb;
}

.button-one {
  margin-top: 10px;
  padding: 5px 25px;
  font-weight: bold;
  border: 1px solid #3882f6;
  border-radius: 10px;
  background-color: #3882f6;
}

.placeholder {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  text-align: center;
  background-color: rgba(109, 116, 125);
}

/*Starting from here it's the code for the "some random information section*/
h1 {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  color: #1f2937;
}

.container-one {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
  padding: 0px 80px;
}

.info {
  width: 225px;
}

.description {
  margin-top: 6px;
  font-size: 18px;
  text-align: center;
  color: #1f2937;
}